.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.metadata
build/
coverage/
pharmago.sqlite
pharmago.sqlite-shm
pharmago.sqlite-wal
.env
.env.*
!.env.example
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/ephemeral/
